body{
    background-color: rgb(22, 21, 21);
}

h3, h1 {
    font-family: "Pixel Script";
}

@font-face {
    font-family: "Pixel Script";
    src: url(assets/PixelScriptRegular-0WnDG.otf);
}

@font-face {
    font-family: "Pixel";
    src: url(assets/pixel-font/Pixel-y14Y.ttf);
}

.bigFatBox{
    width: 95vw;
    height:100vh;
    margin: 0 auto;
    
}

.bigFatBox h1{
    font-size: 40px;
    width: 500px;
    text-align: center;
    margin: 20px auto;
    padding-bottom: 8px;
    color: #d4a234e3;
    border-top: 1px solid rgba(209, 169, 36, 0.842);
    border-bottom: 1px solid rgba(209, 169, 36, 0.842);
    text-shadow: 1px 1px 10px;
}

#allBeetles{
    margin-left: 80px;
    width: 480px;
}

.the-beetles{
    cursor: pointer;
    width:400px;
    margin:8px 0;
    background-color: rgba(231, 220, 205, 0.534);
    border-top: 1px solid rgba(199, 188, 174, 0.425);
    border-bottom: 1px solid rgba(199, 188, 174, 0.425);
    color:rgb(165, 159, 151);
    text-shadow:0 0 5px rgba(196, 175, 156, 0.61);
    transition: all 0.2s ease-in-out;
    font-family: "Pixel";
}

.the-beetles:hover {
    background-color: rgba(11, 13, 17, 0.411);
    color: antiquewhite;
    transform: scale(1.05);
    width: 390px;
    text-shadow:0 0 5px rgba(223, 151, 93, 0.808);
    margin-left: 20px;
    border-top: 1px solid rgba(68, 54, 45, 0.664);
    border-bottom: 1px solid rgba(68, 54, 45, 0.61);
}

.the-beetles:focus{
    background-color: rgba(6, 6, 20, 0.842);
    color: antiquewhite;
    text-shadow:0 0 5px rgba(223, 151, 93, 0.808);
    transform: scale(1.05);
    width: 390px;
    margin-left: 20px;
    border-top: 1px solid rgb(240, 165, 27);
    border-bottom: 1px solid rgb(236, 172, 33);
}

#theName{
    float:left;
}

#theYear{
    float: right;
}

.beetle-journal {
    background-image: url(public/images/BeetleJournal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 780px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    filter: drop-shadow(5px 5px 20px rgb(37, 70, 57));
}
  
.left-page {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 30px;
    padding-top: 10px;
}

.right-page {
    grid-area: 1 / 2 / 2 / 3;
}

#searchBeetles{
    display: flex;
    justify-content: left;
    padding:0 5px;
    width: 450px;
    margin-left: 80px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#searchBeetles .button{
    width: 35px;
    background-color: rgb(248, 239, 228);
    border-radius: 50%;
    padding: 0;
    margin-left: 10px;
}

.searchInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-family: "Pixel";
}

#searchBeetles h3 {
    font-size: 20px;
    width: 50px;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

#searchBeetles .search-label{
    padding: 0 2px;
    width: 100px;
    font-size: 15px;
    border: none;
    border-top: 1px solid #ff5e0060;
    border-bottom: 1px solid #ff5e0060;
    border-radius: 0;
    background-color: rgba(235, 215, 192, 0.404);
    box-shadow: 0 0 10px rgba(143, 79, 42, 0.438);
}

.entry-btn{
    border-radius: 0;
    border: none;
    border-top: 1px solid rgba(0, 128, 0, 0.76);
    border-bottom: 1px solid rgba(0, 128, 0, 0.719);
    background-color: rgba(0, 128, 0, 0.342);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 78, 26, 0.295);
    font-family: "pixel";
}

.entry-btn:hover{
    transform: scale(1.1);
    background-color: rgba(0, 128, 0, 0.651);
    border-color: rgb(0, 110, 55);
}

#selectedBeetle h3{
    text-align: center;
    position: relative;
    top: 20px;
}

#selectedBeetle p{
    text-align: center;
    margin-top: 30px;
    color: rgb(173, 125, 103);
    text-shadow: 1px 1px 5px rgba(148, 121, 95, 0.418);
    font-family: "pixel";
}